.app{
  background-image: url(https://www.fxstreet.cz/img/web/fx1/1588924876-money-management.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  width: 510px;
  padding: 3rem;
  border-radius: 20px;
  border: 3px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
  background: transparent;
  border: 2px solid whitesmoke;
  backdrop-filter: blur(20px);
}

.amount-card{
  background-color: white;
  border-radius: 20px;
  height: 150px;
  margin-top: 20px;
}

.card-text{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
}

.text-fields{
  margin-top: 40px;
}

.input{
  margin-bottom: 30px;
}

#outlined-basic{
  width: 480px;
}

.btn{
  width: 250px;
  height: 50px;
}

@media (max-width:612px){
  .container{
    width: 310px;
  }

  .title{
    font-size: 19px;
  }

  .title-para{
    font-size: 17px;
  }

  #outlined-basic{
    width: 320px;
  }
}

@media (max-width:453px){
  .container{
    width: 250px;
  }

  .title{
    font-size: 16px;
  }

  .title-para{
    font-size: 14px;
  }

  #outlined-basic{
    width: 200px;
  }
}